@import './modules/colors.scss';

@mixin animation-mixin($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: translate3d(0, $from, 0);
      opacity: 0;
    }
    100% {
      transform: translate3d(0, $to, 0);
      opacity: 1;
    }
  }
}

@include animation-mixin(slide-1, -50px, 0);

.inventure-alert-temp-popup {
  position: fixed;
  top: 80px;
  left: 20px;
  animation: slide-1 0.5s;
  transition: all 3s;
  background: $background-grey-light;
  border: 1px solid $text-off-white;
  border-radius: 2px;
  width: 180px;
  padding: 20px;
  text-align: center;
  z-index: 5;

  &-text {
    color: $text-off-white;
  }
}
