// reset
@import './modules/reset.scss';
@import './modules/colors.scss';
@import './modules/breakpoints.scss';

body {
  background: $background-grey-dark;
  color: $text;
  font-family: Montserrat;
}

main {
  padding-top: 55px;
  width: calc(100% - 280px - 40px);
  max-width: 860px;
  margin: 65px auto 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.button-nostyle {
  font-size: inherit;
  border: 0;
  background-color: transparent;
  color: #50e3c2;
  padding: 0;
  text-decoration: none;
}

.button-nostyle:hover {
  color: #00a256;
  text-decoration: underline;
}

@media screen and (max-width: $breakpoint-tablet) {
  main {
    width: calc(100% - 40px);
    padding-top: 0;
    padding-bottom: 40px;
  }
}
