// reset
@import './modules/reset.scss';
@import './modules/colors.scss';

body {
  background: $background-grey-dark;
  color: $text;
  font-family: Montserrat;
}

main {
  padding-top: 55px;
  width: calc(100% - 280px - 40px);
  max-width: 860px;
  margin: 65px auto 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}
