@import './modules/colors.scss';

.form-submit-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin-top: 10px;
  background: $cyan-blue;
  transition: all 0.3s;
  box-sizing: border-box;

  &:hover {
    background: $green-offset;
  }

  &.disabled {
    background: $background-grey-lighter;
    cursor: auto;
  }
}

.form-cancel-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin-top: 10px;
  transition: all 0.3s;
  background: transparent;

  &:hover {
    color: $green-offset;
  }

  &.disabled {
    background: $background-grey-lighter;
    cursor: auto;
  }
}

.kill-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin-top: 10px;
  background: $grey-red;
  transition: all 0.3s;

  &:hover {
    background: $light-red;
  }

  &.disabled {
    background: $background-grey-lighter;
    cursor: auto;
  }
}

.complete-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin-top: 10px;
  background: $cyan-blue;
  transition: all 0.3s;

  &:hover {
    background: $cyan-offset;
  }

  &.disabled {
    background: $background-grey-lighter;
    cursor: auto;
  }
}

.back-text-link {
  color: $text-off-white;
  cursor: pointer;
}

.back-text-link-label {
  padding-left: 8px;
  font-size: 14px;
}

.cta-button {
  border-radius: 10px;
  background: $green;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
  padding: 10px 20px;
  margin: 10px auto;
  display: block;

  &:hover {
    background: $green-offset;
  }
}

.delete-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin-top: 10px;
  background: $cyan-blue;
  transition: all 0.3s;

  &:hover {
    background: $green-offset;
  }

  &.confirm {
    flex-grow: 2;
  }

  &.cancel {
    flex-grow: 1;
    margin-left: 10px;
  }
}
