@import './modules/colors.scss';
@import './modules/animations.scss';

@include fade-in-mixin(fade-in);

.buttons-links-fade-in {
  animation: fade-in 0.3s;
}

.form-submit-button {
  font-size: 14px;
  min-width: 120px;
  padding: 8px 10px;
  border: 1px solid $text-off-white;
  background: $text-grey-dark;
  color: $text-off-white;
  margin: 8px 3px 3px 3px;

  &:hover {
    background: $background-grey-lighter;
    cursor: pointer;
  }

  &.disabled {
    background: $background-grey-mid;
    color: $background-grey-lighter;
    cursor: auto;
    border: 1px solid $background-grey-mid;
  }
}

.form-cancel-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin: 8px 3px 3px 3px;
  transition: all 0.3s;
  background: transparent;
  border: 1px solid $text-off-white;

  &:hover {
    color: $green-offset;
  }

  &.disabled {
    background: $background-grey-lighter;
    cursor: auto;
  }
}

.kill-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin: 8px 3px 3px 3px;
  background: $tomato;
  transition: all 0.3s;
  border: 1px solid $text-off-white;

  &:hover {
    background: $light-red;
  }

  &.disabled {
    background: $background-grey-lighter;
    cursor: auto;
  }
}

.complete-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  margin: 8px 3px 3px 3px;
  background: $cyan-blue;
  transition: all 0.3s;
  border: 1px solid $text-off-white;

  &:hover {
    background: $teal;
  }

  &.disabled {
    background: $background-grey-lighter;
    cursor: auto;
  }
}

.back-text-link {
  color: $text-off-white;
  cursor: pointer;
}

.back-text-link-label {
  padding-left: 8px;
  font-size: 14px;
}

.cta-button {
  border-radius: 4px;
  background: $text-grey-dark;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
  padding: 10px 20px;
  margin: 10px auto;
  display: block;
  border: 1px solid $text-off-white;

  &:hover {
    background: $green-offset;
  }
}

.delete-button {
  padding: 8px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 14px;
  color: $text-off-white;
  background: $tomato;
  transition: all 0.3s;
  border: 1px solid $text-off-white;

  &:hover {
    background: $light-red;
  }

  &.confirm {
    flex-grow: 2;
  }

  &.cancel {
    flex-grow: 1;
    margin-left: 10px;
  }
}

.delete-icon-confirm {
  transition: all 0.3s;
  &-container {
  }
  &-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
  }
  &-icon {
    &:hover {
      cursor: pointer;
    }
  }
  &-delete {
    padding: 2px;
    &:hover {
      cursor: pointer;
    }
  }
  &-cancel {
    padding: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}
