@import './modules/colors.scss';

.canvas2 {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  z-index: 10;
  padding: 20px;
  background: $background-grey-dark;

  > .flex-row {
    height: 100%;
  }

  .content-box {
    flex-basis: 100%;
  }
}