@import './modules/colors.scss';

.create-concept-container {
  margin-bottom: 30px;
}

.create-concept-page-title {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.create-concept-section-container {
  margin-bottom: 10px;
}

.concept-add-title-name {
  background: $background-grey-light;
  margin-bottom: 2px;
  position: relative;
  padding: 10px 20px;

  input {
    width: 100%;
    border: 0;
    padding: 15px 10px;
    background: none;
    font-size: 16px;
    color: $text;
    outline: 0;
    text-align: center;
  }
}

.concept-add-title-logo {
  background: $background-grey-light center center no-repeat;
  background-size: 100px;
  cursor: pointer;
  position: relative;
}

.create-concept-dropdown-container {
  background: $background-grey-light;
  margin-bottom: 2px;
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.create-concept-dropdown {
  select {
    width: 300px;
  }
}

.create-concept-dropdown-input-title {
  position: absolute;
  left: 15px;
}

.create-concept-page-top-backlink {
  position: absolute;
  left: 15px;
}

.create-concept-user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;

  &-button-container {
    display: flex;
    align-items: center;
  }

  &-buttons {
    margin-left: 10px;
  }
}
