@import './modules/colors.scss';

.create-concept-page-title {
  text-align: center;
}

.create-concept-user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;

  &.step-1 {
    justify-content: flex-end;
  }

}

.step-back-link {
  color: $text-off-white;
  cursor: pointer;
}

.step-back-link-text {
  padding-left: 8px;
  font-size: 14px;
}
