.concept-list {

  &-header {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
  }

  &-items {
    max-height: 300px;
    overflow: auto;
  }

  &-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

    &-details {
      padding-left: 10px;
    }
  }

  h3 {
    margin: 0;
  }
}