@import './modules/colors.scss';

.concept-add-title-name {
  background: $background-grey-light;
  margin-bottom: 2px;
  position: relative;
  padding: 10px 20px;

  input {
    width: 100%;
    border: 0;
    padding: 15px 10px;
    background: none;
    font-size: 16px;
    color: $text;
    outline: 0;
    text-align: center;
  }
}

.concept-add-title-logo {
  height: 300px;
  background: $background-grey-light center center no-repeat;
  background-size: 100px;
  cursor: pointer;
  position: relative;
}
