@import './modules/colors.scss';
@import './modules/breakpoints.scss';

.content-box {
  margin-bottom: 20px;
  flex-basis: auto;

  &.background {
    padding: 15px 20px;
    background: $background-grey-light;
    border-radius: 5px;
  }

  :last-child {
    margin-bottom: 0;
  }

  &.bordered {
    border-top: 5px solid $background-grey-lightest;
  }

  &.padded {
    padding: 40px 50px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .content-box {
    &.padded {
      padding: 20px;
    }
  }
}