@import './modules/breakpoints.scss';

.flex-row {
  display: flex;

  > div {
    flex-grow: 1;
    width: 0; //forces equal width columns
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .flex-row {
    display: block;

    > div {
      width: auto;
      margin-right: 0;
    }
  }
}