@import './modules/colors.scss';
@import './modules/breakpoints.scss';

.inventure-form-textinput {
  background: $background-grey-light;
  margin-bottom: 2px;
  position: relative;
  box-sizing: border-box;
  display: flex;

  input[type=text], textarea {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 25px 10px 15px 10px;
    background: none;
    font-size: 14px;
    color: $text;
    outline: 0;
    text-align: center;
    box-shadow: 0 0 0 0 $cyan-offset;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0 0 10px 0 $cyan-offset;
    }

    &::placeholder {
      color: $text-offset;
      opacity: 0.5;
    }
  }

  textarea {
    height: 120px;
    padding-top: 30px;
  }

}

.inventure-form-textinput-required-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: $light-red;
}

.inventure-form-textinput-invalid-email {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: $light-red;
}

.inventure-form-textinput-placeholder {
  color: $text-off-white;
  width: 200px;
  top: 5px;
  left: 12px;
}

.inventure-form-content {
  width: calc(100% - 200px);
  padding: 20px;
}

@media screen and (max-width: $breakpoint-mobile) {
  .inventure-form {
    &-textinput {
      display: block;
    }

    &-textinput-placeholder, &-content {
      width: calc(100% - 40px);
    }
  }
}
