.group {
  &-items {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .concept-avatar {
      margin: 5px;
    }
  }

  &-label {
    text-align: center;
  }
}