@import './modules/colors.scss';

.group-axes {
  padding-left: 20px;
  margin: 0 0 30px 30px;
  border-left: 2px solid $form-element;
  border-bottom: 2px solid $form-element;

  &-labels {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    color: $form-element;

    &.x-axis {
      width: 100%;
      bottom: -25px;
      left: 10px;
    }

    &.y-axis {
      left: -15px;
      bottom: 10px;
      width: 100%;
      transform: rotate(-90deg);
      transform-origin: left bottom;
    }

    > div {
      flex-grow: 1;
      width: 0;
      white-space: nowrap;
      text-align: center;
      margin: 0 10px;
    }
  }
}