@import './modules/colors.scss';

.innovation-team {

  &-container-display {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
  }

  &-member {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;
  }

  &-user-pending {
    color: #656e74;
    line-height: 20px;
    font-size: 14px;
  }

}
