.innovation-add-details-row {
  background: #232d33;
  margin-bottom: 2px;
  position: relative;
  padding: 10px 20px;
}

// .innovation-add-logo-form {
//   height: 300px;
//   background: #232d33 center center no-repeat;
//   background-size: 100px;
//   cursor: pointer;
//   position: relative;
// }
