@import './modules/colors.scss';

.create-innovation-container {
  margin-bottom: 30px;
}

.create-innovation-page-title {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.create-innovation-section-container {
  margin-bottom: 10px;
}

.create-innovation-section-header {
  padding: 12px;
  font-size: 16px;
}

.create-innovation-dropdown-container {
  background: $background-grey-light;
  margin-bottom: 2px;
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.create-innovation-dropdown-input-title {
  position: absolute;
  left: 15px;
}

.create-innovation-dropdown {
  select {
    width: 300px;
  }
}

.create-innovation-keydate-date {
  position: relative;
  z-index: 0;
  width: 260px;
  padding: 8px 20px;
  border-radius: 50px;
  color: $background-grey-light;
  background-color: $form-element;
  background-image:
  linear-gradient(45deg, transparent 50%, $form-element-offset 50%),
  linear-gradient(135deg, $form-element-offset 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(0.8em + 5px), calc(100% - 15px) calc(0.8em + 5px);
  background-size: 4px 5px, 5px 4px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.create-innovation-required-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: $light-red;
}

.create-innovation-user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
}
