@import './modules/colors.scss';

.innovation-overview {

  &-add-concept-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    flex-grow: 1;
    background: $background-grey-light;
    text-decoration: none;

    div {
      padding: 10px;
    }

    &:hover {
      background: $background-grey-lighter;
      cursor: pointer;
    }

    &:hover .add-concept-icon {
      color: $teal;
    }
  }

  &-edit-team-title {
    width: 50%;
  }

  &-edit-team-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 20px;
    background: $background-grey-light;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:hover {
      background: $background-grey-lighter;
    }
  }

  &-edit-team-label {
    font-size: 12px;
    cursor: pointer;
  }

  &-edit-team-icon {
    color: $ocean;
    font-size: 12px;
    padding-left: 8px;
  }

  &-add-mandate-link {
    display: flex;
    align-items: center;
    min-width: 46%;
    padding: 5px 1%;
    margin: 5px 0;
    background: $background-grey-light;
    text-decoration: none;

    div {
      padding: 10px;
    }

    &:hover {
      background: $background-grey-lighter;
      cursor: pointer;
    }

    &:hover .add-concept-icon {
      color: $teal;
    }
  }

  &-mandate-input {
    margin: 10px 0 0 0;

    textarea {
      height: 80px;
    }
  }

  &-toplinks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    min-width: 50%;
    background: $background-grey-light;
    margin: 15px 0;
  }

  &-edit-icon {
    text-align: center;
  }
}

.add-concept-icon {
  color: $ocean;
}
