@import './modules/breakpoints.scss';

.slider {
  width: 100%;

  &-item {

  }

  &-viewport {
    overflow: hidden;
  }

  &-inner {
    transition: all 0.5s;
  }

  &-control {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &.next {
      right: -120px;
    }

    &.prev {
      left: -120px;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .slider {
    &-control {
      &.next {
        right: -30px;
      }

      &.prev {
        left: -30px;
      }
    }

    .concept-meta-spacer {
      display: none;
    }

    .concept-meta.stats {
      .concept-meta-stat {
        max-width: none;
        padding: 20px;
      }
    }
  }
}