@import './modules/colors.scss';

.logo-upload-container {
  position: relative;
  color: $text-offset;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: top center no-repeat;
  background-size: contain;
  height: 75px;
  div {
    width: 100%;
    height: 100%;
  }
}

.logo-upload-message-text {
  position: absolute;
  top: 80%;
  text-align: center;
}
