
$green: #50E3C2;
$green-offset: rgba($green, 0.6);

$pink: #D64A89;
$pink-offset: rgba($pink, 0.6);

$blue: #259AED;
$blue-offset: rgba($blue, 0.6);

$yellow: #D8C444;
$yellow-offset: rgba($yellow, 0.6);

$text: #ffffff;
$text-offset: #656E74;

$background-grey-light: #232D33;
$background-grey-mid: #1F282D;
$background-grey-dark: #1A2227;

$form-element: #B2B5B7;
$form-element-offset: #808080;
