
$green: #50E3C2;
$green-offset: rgba($green, 0.6);

$ocean: #00778b;
$teal: #059690;

$pink: #D64A89;
$pink-offset: rgba($pink, 0.6);

$blue: #259AED;
$blue-offset: rgba($blue, 0.6);
$cyan-blue: #1d667b;
$cyan-offset: rgba(0, 191, 183, 0.4);

$turquoise: #00bfb7;

$gold: #ffa900;

$yellow: #D8C444;
$yellow-offset: rgba($yellow, 0.6);

$red: #87061C;
$light-red: #c32929;
$grey-red: #922727;

$tomato: #e03c31;

$text: #ffffff;
$text-off-white: #eff1f2;
$text-grey-white: #c4c4c4;
$text-offset: #656E74;
$text-grey-dark: #1A2227;

$background-grey-lightest: #656E74;
$background-grey-light: #232D33;
$background-grey-lighter: #3b4348;
$background-grey-mid: #1F282D;
$background-grey-dark: #1A2227;
$background-grey-offwhite: #efefef;
$background-grey-white: #eff1f2;

$modal-background-mask: rgba(0, 0, 0, 0.6);

$form-element: #B2B5B7;
$form-element-offset: #808080;

$warning-low: #DD9BA0;
$warning-medium: #D8C444;
$warning-high: #4AD683;
