
$green: #50E3C2;
$green-offset: rgba($green, 0.6);

$text: #ffffff;

$background-grey-light: #232D33;
$background-grey-mid: #1F282D;
$background-grey-dark: #1A2227;

$form-element: #B2B5B7;
$form-element-offset: #808080;
