.concept-meta-label {
  font-size: 18px;
  display: flex;
  padding-bottom: 10px;
  margin: 20px 0;
  border-bottom: 1px solid #eff1f2; }

.concept-meta-stats {
  display: flex;
  flex-direction: column; }

.concept-meta-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 12px; }
  .concept-meta-stat-label {
    width: 20%;
    color: #656E74; }
  .concept-meta-stat-content {
    width: 80%;
    text-align: center; }
  .concept-meta-stat-score {
    width: 20%;
    text-align: center; }
  .concept-meta-stat-description {
    width: 20%;
    text-align: center; }
  .concept-meta-stat-comment {
    width: 40%;
    text-align: center; }
