.create-innovation-page-title {
  text-align: center; }

.create-innovation-textinput {
  background: #232D33;
  margin-bottom: 2px;
  position: relative;
  padding: 10px 20px; }
  .create-innovation-textinput input, .create-innovation-textinput textarea {
    width: 100%;
    border: 0;
    padding: 15px 10px;
    background: none;
    font-size: 16px;
    color: #ffffff;
    outline: 0;
    text-align: center; }

.create-innovation-dropdown-container {
  background: #232D33;
  margin-bottom: 2px;
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: center; }

.create-innovation-dropdown select {
  width: 300px; }

.create-innovation-user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0; }
  .create-innovation-user-actions.step-1 {
    justify-content: flex-end; }

.step-back-link {
  color: #eff1f2;
  cursor: pointer; }

.step-back-link-text {
  padding-left: 8px;
  font-size: 14px; }
