.progress-bar {
  width: 90%;
  margin: 0 auto; }
  .progress-bar-track, .progress-bar-progress {
    position: absolute;
    height: 14px;
    top: 3px;
    left: 0;
    border-radius: 10px; }
  .progress-bar-track {
    width: 100%;
    background: #232D33;
    z-index: 1; }
  .progress-bar-progress {
    background: rgba(80, 227, 194, 0.6);
    z-index: 2; }
  .progress-bar-pip {
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
    border-radius: 15px;
    background: #50E3C2;
    z-index: 3; }
  .progress-bar-labels, .progress-bar-dates {
    height: 20px; }
  .progress-bar-dates {
    font-size: 12px; }
  .progress-bar-label, .progress-bar-date {
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap; }
    .progress-bar-label.past, .progress-bar-date.past {
      color: #50E3C2; }
